/*
  Hi Krissy!  I also have a couple of comments about your CSS; I put them inline in your code below.
*/

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/* above are base styles*/

.container {
     width: auto;
     margin: 0 auto;
}

header {
     padding: 25px 0;
     overflow: hidden;
     float: right;
}

header nav {
     float: left;
     margin-top: 15px;
     margin-right: 100px;
}
header nav ul li {
     display: inline-block;
     margin: 0 0 0 40px;
     font-size: 24px;
     float: left;
}
header nav ul li a {
     color: #00adef;
     text-decoration: none;
     float: right;
}

button {
  float: right;
  clear: both;
  background-color: red;
  border: 1px solid gray;
  color: white;
  margin: 10px 100px 10px 25px;
  font-size: 24px;
}

body {
     color: black;
     font: 'Montserrat', sans-serif;
}

form {
  display: block;
}

div.mainParagraph {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px gray solid;
}

.caption {
  display: block;
}

p {
  /*
    You can also write this line as:
      margin: 20px 75px;

    It has the same meaning (the first number is for both top and bottom margin; the second number
    is for both left and right margin).  This is just a shorthand option.
  */
  margin: 20px 75px 20px 75px;
}

/*
  These .post1, .post2, and .post3 classes all have the same rule, so you could create just one class - perhaps
  .post - to use instead.  That would avoid you having duplicate classes / code.
*/
section.post1 {
  float: left;
  width: 33%;
}

section.post2 {
  float: left;
  width: 33%;
}

section.post3 {
  float:left;
  width: 33%;
}

h2 {
  color: #00adef;
}

h3 {
  float: left;
  color: #00adef;
  text-align: center;
  margin-left: 50px;
}

footer {
  background: #818181;
  padding: 25px 0 45px;
  text-align: center;
}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 26px 25px;
}
footer p {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}